
 .carousel-container {
    width: 60%;
    margin: 0 auto;
  }
  #reviewForm{
    margin-top: 0px;
    
  }
  .carousel-item p {
    font-size: 18px;
    color: #666666;
    font-family: 'Rufina', serif;
  }
  .reviewer-icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
  }
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card {
    background: #dbd4c742;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding:0 34px 35px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 20px #333;
  }
  .card-title {
    color: #01b0f8;
    font-size: 25px;
    line-height: 1.3;
    font-family: 'Rufina', serif;
  }
  .star-rating {
    display: inline-block;
    font-size: 24px;
  }
  .far {
    color: goldenrod;
  }
  .fas {
    color: goldenrod;
  }
  .fa-check-circle {
    color: rgb(243, 102, 21);
  }
  #feedback-form {
    width: 80%;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
   
  }
  #feedback-form * {
    box-sizing: border-box;
  }
  #feedback-form h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #feedback-form input {
    margin-bottom: 15px;
  }
  #feedback-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }
  .testimonials {
    font-family: 'Passion One', cursive;
    font-size: 45px;
    color: #207cca; /* Old browsers */
    color: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    color: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
    /* margin-top: 20px; */
  }
  .client-p {
    color: #2797e2;
    font-family: 'passion One,', cursive;
    text-align: center;
    font-size: 18px;
    margin-top: -30px;
  }
